.headerPT {
  position: fixed;
  display: flexbox;
  height: 52px;
  z-index: 900;
  background-color: white;
  margin-top: 0px;

  ul {
    display: flex;
    justify-content: center;
    align-items: auto;
    flex-direction: column;
  }
}
// TODO cambia font e metti la scritta portfolio al posto del nome
.headerLogoPT {
  font-family: "Reenie Beanie", cursive;
  font-size: 20px;
  justify-content: space-around;
  position: sticky;
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  height: 50px;
}

.headerLogoPT:hover {
  color: #000;
}

.ptContainer {
  height: auto;
  width: 100%;
  position: absolute;
  top: 52px;

  .uno {
    width: 50%;
  }
  
  .in-page{

    .titlePT {
      transform: scale(1.2);
      opacity: 1;
    }
   
  }
}

article {
    padding-top: 0;
    text-align: center;
}

.titlePT {
  text-align: center;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;   
    position: fixed;
    top: 0; left:0;
    margin-left: 25%;
    transform: scale(1);
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
    opacity: 0;


}

.section {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  margin-top: 0;
}



.btnPT {
  padding-bottom: 3%;
}

.imgPT {
  width: 100%;
  height: 100vh;
  position: fixed; 
  object-fit: cover;
  opacity: 0.5;
  z-index: 0;
}

.panel{
  height: 50vh;
  width: 100%;
  background: #fff;
  position: relative;
  z-index: 2;
  color:#000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pngPanel {
  height: 45vh;

  img {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    bottom: 95%;
    object-fit: cover;
    z-index: 0;
  }

  a {
    position: relative;
    z-index: 1;
    bottom: 180%;
  }

}

.a1 {
  left: 30%;

}

.a2 {
  right: 30%;

}